body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
$start: 0px;

@mixin bounce ($start, $middle, $end){
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: red;
    animation-name: movimento;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @keyframes movimento{
        from{transform: translateY($start);}
        to{transform: translateY($start);}
        0% { transform: translateY($start);}
        40%{transform: translateY($middle);}
        60%{transform: translateY($end);}
    }
}
.bounce{
    @include bounce (0px, -30px, -30px/2 )
}